.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
font-weight: bold;
font-size: 22px;
}
.links{
display: flex;
align-items: center;
gap: 20px;
}
.logout{
    padding: 5px;
    border: none;
    background-color: #53c28b;
    cursor: pointer;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}